@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';

* {
    box-sizing: border-box;
}

:root {
    --border-color: #bcbcbc;
    --border-radius: 4px;
    --background-color: white;
}

html, body, #app, #frame {
    height: 100%;
}

body {
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
}

/* id & class styles */

.node {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 1px 1px 7px -4px #8a8a8a;
    border-radius: var(--border-radius);
    min-width: 200px;
    max-width: 500px;

    .node-header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid var(--border-color);
    }

    .node-content {
        padding: 1rem;
    }
}

#frame {
    display: grid;
    grid-template-columns: 1fr auto;
}

#sidebar {
    padding: 1rem;
    background-color: #ecedf9;
    border-left: 1px solid var(--border-color);
    box-shadow: 0 5px 10px #0000004d;
    z-index: 1;
}

/* base styles */

.input {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    font: inherit;
}

.input:focus {
    outline: none;
    border-color: #007bff;
}

table.no-padding {
    td, th {
        padding: 0;
    }
}

/* functional */

.full-width {
    width: 100%;
}

.flex {
    display: flex;
}

.ml-1 {
    margin-left: 0.5rem;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-grab {
    cursor: grab;
}

.text-center {
    text-align: center;
}
